In [1]:
# Import libraries
import pandas as pd

In [3]:
# read in file
#read_file = pd.read_excel("Resources/KPMG_VI_New_raw_data_update_final.xlsx")
#df = pd.DataFrame(read_file)

xls = pd.ExcelFile('../Resources/KPMG_VI_New_raw_data_update_final.xlsx')
transactions_df = pd.read_excel(xls, 'Transactions')
demographic_df = pd.read_excel(xls, 'CustomerDemographic')
address_df = pd.read_excel(xls, 'CustomerAddress')

# identifying the header row
new_header = transactions_df.iloc[0]
transactions_df = transactions_df[1:]
transactions_df.columns = new_header
transactions_df = transactions_df.reset_index(drop=True)

new_header = demographic_df.iloc[0]
demographic_df = demographic_df[1:]
demographic_df.columns = new_header
demographic_df = demographic_df.reset_index(drop=True)

new_header = address_df.iloc[0]
address_df = address_df[1:]
address_df.columns = new_header
address_df = address_df.reset_index(drop=True)

# show data
transactions_df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
1,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
2,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
3,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
4,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226

In [4]:
# correct values (accuracy)
# evaluation: some data types should be converted from object to a different data type

transactions_df.dtypes

0
transaction_id             object
product_id                 object
customer_id                object
transaction_date           object
online_order               object
order_status               object
brand                      object
product_line               object
product_class              object
product_size               object
list_price                 object
standard_cost              object
product_first_sold_date    object
dtype: object

In [5]:
demographic_df.dtypes

0
customer_id                            object
first_name                             object
last_name                              object
gender                                 object
past_3_years_bike_related_purchases    object
DOB                                    object
job_title                              object
job_industry_category                  object
wealth_segment                         object
deceased_indicator                     object
default                                object
owns_car                               object
tenure                                 object
dtype: object

In [6]:
address_df.dtypes

0
customer_id           object
address               object
postcode              object
state                 object
country               object
property_valuation    object
dtype: object

In [7]:
# data fields with values (completeness)
# evaluation: data is incomplete in all 3 dataframes (address_df is missing values that are present in other 2 tables)

transactions_df.count()

0
transaction_id             20000
product_id                 20000
customer_id                20000
transaction_date           20000
online_order               19640
order_status               20000
brand                      19803
product_line               19803
product_class              19803
product_size               19803
list_price                 20000
standard_cost              19803
product_first_sold_date    19803
dtype: int64

In [8]:
demographic_df.count()

0
customer_id                            4000
first_name                             4000
last_name                              3875
gender                                 4000
past_3_years_bike_related_purchases    4000
DOB                                    3913
job_title                              3494
job_industry_category                  3344
wealth_segment                         4000
deceased_indicator                     4000
default                                3698
owns_car                               4000
tenure                                 3913
dtype: int64

In [9]:
address_df.count()

0
customer_id           3999
address               3999
postcode              3999
state                 3999
country               3999
property_valuation    3999
dtype: int64

In [10]:
# values up to date (currency)
# evaluation: transaction year is 2017

transaction_date_df = transactions_df.sort_values("transaction_date", ascending=False)
transaction_date_df

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1696,1697,56,2421,2017-12-30 00:00:00,True,Approved,OHM Cycles,Standard,medium,medium,183.86,137.9,33259
15269,15270,3,195,2017-12-30 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41167
4668,4669,29,1052,2017-12-30 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1065.03,230.09,36833
13574,13575,98,2396,2017-12-30 00:00:00,False,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,33364
3937,3938,95,993,2017-12-30 00:00:00,False,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,35455
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16397,16398,43,2160,2017-01-01 00:00:00,True,Approved,Solex,Standard,medium,medium,1151.96,649.49,41009
15204,15205,87,123,2017-01-01 00:00:00,False,Approved,OHM Cycles,Standard,medium,medium,1636.9,44.71,40410
15137,15138,3,1022,2017-01-01 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,36367
3459,3460,64,234,2017-01-01 00:00:00,True,Approved,Giant Bicycles,Standard,high,small,1977.36,1759.85,40779
13933,13934,94,824,2017-01-01 00:00:00,False,Approved,Giant Bicycles,Standard,medium,large,1635.3,993.66,38002

In [11]:
# records that are duplicated (uniqueness)
# evaluation: no duplicates, however address_df is missing a customer_id

# column titles
transactions_df.columns
demographic_df.columns
address_df.columns

print(f"Number of Unique Values")
print("--------------------------------------")
# finding unique values
t_customer_id = len(transactions_df["customer_id"].unique())
print(f"Unique Customer ID (transactions): {t_customer_id}")

d_customer_id = len(demographic_df["customer_id"].unique())
print(f"Unique Customer ID (demographic): {d_customer_id}")

a_customer_id = len(address_df["customer_id"].unique())
print(f"Unique Customer ID (address): {a_customer_id}")

Number of Unique Values
--------------------------------------
Unique Customer ID (transactions): 3494
Unique Customer ID (demographic): 4000
Unique Customer ID (address): 3999